version: "3.8"

services:

  mongodb:
    image: mongo:4.4
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    image: groot321/node-backend:latest
    container_name: backend
    restart: always
    ports:
      - "7070:7070"
    depends_on:
      - mongodb
    environment:
      - NODE_ENV=production
      - MONGO_URL=mongodb://mongodb:27017/yourdbname

  frontend:
    build: ./frontend
    image: groot321/angular-frontend:latest
    container_name: frontend
    restart: always
    ports:
      - "8081:80"
    depends_on:
      - backend

volumes:
  mongo-data:
